* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #f7f7f9;
  margin: 0;
}

main {
  min-width: 375px;
  height: 718px;
}

.base_section {
  height: 718px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 68px;
  background-color: #fff;
  border-radius: 0 0 0 100px;
  background-image: url(images/header-shapes\ mobile@2x.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  background-color: #fff;
}

h1 {
  width: 80%;
  padding-top: 128px;
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
}

h4 {
  color: #7f8cff;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  padding-top: 12px;
  font-weight: 400;
}

h5 {
  color: #253858;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

p {
  width: 95%;
  padding-top: 12px;
  color: #172b4d;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

nav a {
  color: #6070ff;
  text-decoration: none;
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
}

nav {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16pt;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-top: 12px;
}

nav ul {
  display: none;
}

ul li {
  list-style: none;
  cursor: pointer;
}

.list_wrapper ul li {
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  list-style: disc;
}

.base_section ul .socials-1 {
  animation: movetext 1s 0.4s forwards;
}

.base_section ul .socials-2 {
  animation: movetext 1s 0.5s forwards;
}

.base_section ul .socials-3 {
  animation: movetext 1s 0.6s forwards;
}

.base_section ul .socials-5 {
  animation: movetext 1s 0.7s forwards;
}

.base_section ul .socials-4 {
  animation: movetext 1s 0.8s forwards;
}

.work_section {
  min-width: 375px;
  padding-top: 130px;
  padding-bottom: 114px;
  padding-left: 24px;
  padding-right: 24px;
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 88px;
}

.card_container {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  display: grid;
  padding: 0 0 16px 0;
  align-items: start;
  justify-items: center;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
}

.details_wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: auto;
}

.img_wrapper img {
  width: 100%;
  padding: 16px;
}

h2 {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.desktop-screen {
  display: none;
}

.list_wrapper {
  padding-bottom: 12px;
}

.list_wrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
}

.list_wrapper .canopy {
  color: #344563;
  list-style: none;
}

.details_wrapper p {
  width: 295px;
  color: #344563;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.programing_languages_list ul li {
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
}

nav ul li:hover {
  color: #6070ff;
  transition: 0.5s;
}

.programing_languages_list {
  padding-bottom: 25px;
  padding-top: 12px;
}

.programing_languages_list ul li:hover {
  background: #6070ff;
  color: #fff;
  transition: 0.5s;
}

button {
  color: #396df2;
  background: transparent;
  padding: 16px;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

form button {
  padding: 12px 16px;
}

button:hover {
  background: #6070ff;
  color: #fff;
  transition: 0.5s;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  color: #fff;
  background: #2230d2;
}

button:disabled {
  color: #5e6c84;
  background: transparent;
  border: 1px solid #c1c7d0;
}

.about_myself_section {
  min-width: 375px;
  padding-top: 114px;
  padding-bottom: 114px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #fff;
  border-top-right-radius: 100px;
}

.about_myself_section h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 200px;
}

.about_myself_section button {
  padding: 12px;
  gap: 10px;
}

.about_myself_section ul {
  padding-top: 36px;
}

h3 {
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.title_wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.about_myself_section .button_wrapper {
  padding-top: 34px;
  padding-bottom: 54px;
}

.programing_languages_container {
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.programing_languages_container:hover {
  background: #253858;
  transition: 0.5;
}

.programing_languages_container h5:hover {
  color: #f7f7f9;
  transition: 0.5;
}

.programing_languages_container img {
  padding-left: 12px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

hr {
  border-bottom: 1px solid #dfe1e6;
  margin-top: 23px;
  margin-bottom: 23px;
  width: 100%;
}

.language_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.contact-page {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.contact_items_container {
  background-color: #6070ff;
  background-image: url(images/contact\ form\ shapes-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding: 60px 24px 8px 24px;
  border-top-left-radius: 100px;
}

.contact-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 50px 0;
}

.h2-white {
  color: #fff;
  font-size: 40px;
}

.h2-width {
  max-width: 200px;
  height: 80px;
}

.p-white {
  width: 327px;
  font-size: 20px;
  line-height: 28px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

form input {
  height: 48px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  padding: 15px 16px;
}

form textarea {
  height: 170px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  padding: 15px 38px 15px 16px;
}

.contact_items_container form button:hover {
  background: #fff;
  color: #6070ff;
}

.contact_items_container form button:active {
  color: #fff;
  background: #2230d2;
}

.contact_items_container form button:disabled {
  color: #5e6c84;
  background: transparent;
  border: 1px solid #c1c7d0;
}

form::placeholder {
  color: #b3bac5;
}

.button-white {
  background-color: #fff;
  color: #6070ff;
}

.home_indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.home_indicator img {
  padding-top: 42px;
}

.contact_items_container .button_wrapper {
  padding-top: 5px;
}

@keyframes scale {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes movetext {
  0% {
    transform: translateY(40rem) rotateY(-20deg);
  }

  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
  }

  nav {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    height: 73px;
  }

  nav ul {
    display: flex;
    gap: 32px;
  }

  nav ul li {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  nav .hamburger_menu {
    display: none;
  }

  .base_section {
    padding-left: 260px;
    padding-right: 260px;
    padding-top: 10%;
    border-radius: 0 0 0 100px;
    background-image: url(images/Header\ bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 95%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;
  }

  .contact_items_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-image: url(images/contact\ form\ background\ shapes.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1290.66px 718.7px;
    padding: 79px 75px 48px 74px;
  }

  h1 {
    width: 45%;
    font-weight: 700;
    padding-top: 60px;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .card_container h2 {
    width: 496px;
    font-size: 40px;
    line-height: 52px;
  }

  .h2-width {
    max-width: 100%;
    height: 48px;
  }

  p {
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .details_wrapper p {
    width: 496px;
    font-size: 16px;
  }

  .mobile-screen {
    display: none;
  }

  .desktop-screen {
    display: flex;
  }

  .social_icons_hover {
    transition-duration: 0.5s;
  }

  .social_icons_hover:hover {
    transform: scale(1.3);
  }

  .list_wrapper ul li {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .work_section {
    min-width: 375px;
    padding-top: 142px;
    padding-bottom: 142px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 142px;
  }

  .card_container {
    width: 1156px;
    border-radius: 24px;
    justify-items: start;
    display: flex;
    flex-direction: row;
    padding: 0 0 0 0;
  }

  .card_container:nth-child(2) {
    flex-direction: row-reverse;
  }

  .card_container:nth-child(4) {
    flex-direction: row-reverse;
  }

  .details_wrapper {
    width: 100%;
    padding-left: 30px;
  }

  .home_indicator img {
    display: none;
  }

  .img_wrapper img {
    width: 544px;
    transition: transform 1s;
  }

  .img_wrapper:hover img {
    transform: scale(1.1);
  }

  .about_myself_section {
    padding-top: 142px;
    padding-bottom: 142px;
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about_myself_section p {
    width: 447px;
  }

  .language_wrapper {
    display: flex;
    flex-direction: row;
  }

  .programing_languages_container {
    min-width: 122px;
    background: #f7f7f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h5 {
    padding: 0 12px 20px 12px;
  }

  .about_myself_detail_wrapper {
    min-width: 70%;
  }

  .skills_wrap {
    min-width: 100%;
  }

  form {
    width: 447px;
    padding-bottom: 127px;
  }

  .contact-title {
    padding-top: 20px;
  }

  .contact-page {
    width: 100%;
  }

  .home_indicator {
    width: 447px;
  }

  .contact-title p {
    width: 569px;
  }

  .contact-page .button_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}
